backports.functools-lru-cache==1.6.4
beniget==0.4.1
click==7.1.2
cmake==3.26.3
contextlib2==0.6.0.post1
cycler==0.10.0
Cython==0.29.34
distro==1.6.0
Flask==1.1.4
gast==0.5.4
importlib-resources==3.3.1
itsdangerous==1.1.0
Jinja2==2.11.3
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==2.2.5
numpy==1.16.6
numpy-ringbuffer==0.2.2
packaging==20.9
pathlib2==2.3.7.post1
Pillow==6.2.2
ply==3.11
pybind11==2.9.2
pyparsing==2.4.7
python-dateutil==2.8.2
pythran==0.13.1
pytz==2023.3
scandir==1.10.0
scikit-build==0.15.0
scipy==1.2.3
singledispatch==3.7.0
six==1.16.0
subprocess32==3.5.4
tqdm==4.64.1
typing==3.10.0.0
Werkzeug==1.0.1
zipp==1.2.0
